body {
	background: white;
}
h1 {
	text-align: center;
	color: blue;
}
.box {
    display: flex;
}

/*
.div2 {
    background: black;
    border:5px solid #E0E0E0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
*/